$core-primary: #282e39;
$core-primary-1: #343a47;
$core-primary-2: #3d424c;
$core-primary-3: #535760;
$core-primary-4: #535760;
$core-primary-5: #686d74;

.myclass {
  background-color: red;
}